



- if logged_in_nurse.validator? || !@completed_proc.validated?

  = content_for :header do
    %h1 Edit procedure submitted by #{@completed_proc.nurse.first_name}

  %pre.rejected
    = "This procedure was invalidated, please read comments and resubmit, " + |
      "or acknowledge" if @completed_proc.rejected?                           |
  = render 'form'

- else @completed_proc.validated
  %h1 Procedure has already been validated, can only be edited by validating nurse.

:css
  .rejected {
    color: red
  }