


- options = @proc.options
- if options.size>0
  Extra options for this procedure
  - if options.end_with? '?'
    %label
      =check_box_tag :options, options.chop
      =options
  - else
    - options.split(',').each do |option|
      %label
        =radio_button_tag(:options, option)
        =option
